<h1>Index Story</h1>
<div class="col-sm-12">
    <% if (stories.length > 0) { %>
        <% for (story of stories) {
            const {title, date, body, id} = story;
        %>
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h4><%= title %> </h4>
                    <p class="story-text"><%- body %></p>
                    <div class="chip">
                        <img src="<% user.image %>" alt="<%= user.firstName %>" width="96" height="96">
                        <% user.firstName %>  <% user.lastName %>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around">
                    <a class="btn btn-warning" href="/ideas/edit/<%= id %>">Edit</a>
                    <form action="/ideas/<%= id %>?_method=DELETE" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </div>
            </div>
        </div>
        <% } %>
    <% }else { %>
        <p class="text-center">No stories found</p>
    <% } %>
</div>