<div class="col-sm-12"><h1>Index Story</h1></div>


<div class="row-flex">
    <% if (stories.length > 0) { %>
        <% for (story of stories) {
            const {title, date, body, id} = story;
        %>
        <div class="col-lg-4 col-md-6 mb-3">
            <div class="card text-center content">
                <div class="card-header bg-transparent d-flex justify-content-end">
                    <a class="btn btn-outline-warning" href="/stories/edit/<%= id %>"><i class="far fa-edit"></i></a>
                </div>
                <div class="card-body">
                    <h4><%= title %> </h4>
                    <p class="story-text"><%= truncate(stripTags(body), 120) %></p>
                    <div class="chip">
                        <img src="<%= user.image %>" alt="<%= user.firstName %>" width="96" height="96">
                        <%= user.firstName %>  <%= user.lastName %>
                    </div>
                </div>
                <div class="card-footer bg-transparent d-flex justify-content-around">
                    <a href="/stories/show/<%= id %>" class="btn btn-outline-success">Read more <i
                                class="fas fa-caret-right"></i></a>
                </div>
            </div>
        </div>
        <% } %>
    <% }else { %>
        <p class="text-center">No stories found</p>
    <% } %>
</div>

